@use "sass:color";
@import "base/styles/_font";
@import "base/styles/_colors";
@import "base/styles/_grid";

.signInLabel {
    font-size: $font-size-xl;
    color: $gray-200;
    padding-bottom: $space-lg;
    text-align: center;
}

.formContainer {
    display: grid;
    grid-row-gap: $space-xxs;
    padding: $space-lg;
    width: calc($grid-baseline * 50);
}

.formError {
    font-size: $font-size-sm;
    color: $gray-300;
}

.errorContainer {
    padding: $space-xs;
    border-radius: $border-radius-sm;
    background-color: fade-out($red-700, $amount: 0.7);
    color: fade-out($red-200, $amount: 0.1);
    font-size: $font-size-sm;
}
