$grid-baseline: 8px;
$space-xxxs: calc($grid-baseline * 0.5);
$space-xxs: calc($grid-baseline * 1);
$space-xs: calc($grid-baseline * 1.5);
$space-sm: calc($grid-baseline * 2);
$space-md: calc($grid-baseline * 3);
$space-lg: calc($grid-baseline * 4);

@mixin page-root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}