@use "sass:color";
@import "base/styles/colors";
@import "base/styles/grid";
@import "base/styles/font";

.dragHandleMouseTarget {
    position: absolute;
    height: 100%;
    top: 0;
    right: calc(-1 * $space-sm / 2);
    bottom: 0;
    width: $space-sm;
    display: flex;
    justify-content: center;

    &:hover {
        cursor: grab;
    }

    &:hover > .dragHandleIndicator {
        transform: scaleX(3);
        opacity: 1;
    }
}

.dragHandleIndicator {
    width: 1px;
    height: 100%;
    background-color: $gray-700;
    opacity: 0;
}

.root {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: color.scale($gray-800, $lightness: -20%);
    width: calc($grid-baseline * 23);
    padding-bottom: $space-xs;
    border-right: 1px solid color.scale($gray-800, $lightness: -0%);
    z-index: 0;
    user-select: none;
}

.project {
    display: flex;
    align-items: center;
    width: 100%;
    height: $space-md;
    padding-top: $space-xxxs;
}

.projectLabel {
    padding-left: $space-xs;
    font-size: $font-size-xxs;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: color.scale($gray-500, $lightness: 20%);
}

.fileItem {
    display: flex;
    align-items: center;
    height: $space-md;
    border-left: 2px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-color: $gray-800;
        cursor: pointer;
    }

    &.active {
        background-color: $gray-800;
        //border-left: 2px solid $gray-600;

        & > .fileItemLabel {
            color: $gray-300;
        }
    }
}

.folderItemLabelContainer {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 2px solid transparent;

    &:hover {
        background-color: $gray-800;
        cursor: pointer;
    }

    &.active {
        background-color: $gray-800;
        border-left: 2px solid $gray-600;
        & .folderItemLabel {
            color: white;
        }
    }
}

.folderItemLabel {
    color: color.scale($gray-300, $lightness: -10%);
    font-size: $font-size-sm;
}

.fileItemLabel {
    color: color.scale($gray-400, $lightness: 10%);
    font-size: $font-size-sm;
    padding-left: $space-xxxs;
    height: 100%;
    display: flex;
    align-items: center;
}

.folderIcon {
    fill: $gray-500;
    width: $space-xs;
    padding-right: $space-xxs;
}

.fileIcon {
    fill: $gray-700;
    width: $space-xs;
    padding-right: $space-xxxs;
}

.folderItem {
    display: flex;
    flex-direction: column;

    &:hover {
        cursor: pointer;
    }
}