.myClass {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    --gridBaseline: 8px;
    --spaceXxxs: calc(var(--gridBaseline) * 0.5);
    --spaceXxs: calc(var(--gridBaseline) * 1);
    --spaceXs: calc(var(--gridBaseline) * 1.5);
    --spaceSm: calc(var(--gridBaseline) * 2);
    --spaceMd: calc(var(--gridBaseline) * 3);
    --spaceLg: calc(var(--gridBaseline) * 4);

    --fontSizeBase: 10px;
    --fontSizeMicro: calc(var(--fontSizeBase) * 1);
    --fontSizeTiny: calc(var(--fontSizeBase) * 1.1);
    --fontSizeSm: calc(var(--fontSizeBase) * 1.2);
    --fontSizeMd: calc(var(--fontSizeBase) * 1.4);
    --fontSizeLg: calc(var(--fontSizeBase) * 1.6);
    --fontSizeXl: calc(var(--fontSizeBase) * 2.1);

    --primary: green;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;

    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}