@use "sass:color";
@import "base/styles/_colors";
@import "base/styles/_grid";
@import "base/styles/_font";

.root {
    @include page-root;
    display: flex;
    flex-direction: column;
    background-color: color.scale($gray-800, $lightness: -30%);
}

.mainContent {
    display: flex;
    flex-grow: 1;
    flex-direction: horizontal;
    align-items: stretch;
}