@use "sass:color";
@import "base/styles/_font";
@import "base/styles/_colors";
@import "base/styles/_grid";

.workspaceListContainer {
    align-self: center;
    display: grid;
    grid-row-gap: $space-xs;
    padding: $space-lg;
    padding-top: calc($space-lg * 3);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $gray-800;
    padding: $space-xs;
    border-radius: $border-radius-sm;
    border: 1px solid $gray-700;
    width: calc($grid-baseline * 70);

    &:hover {
        cursor: pointer;
        border-color: $violet-500;
        box-shadow: 0px 0px $space-xxs fade-out($violet-500, $amount: 0.7);
    }
}

.cardLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graphic {
    display: block;
    width: calc($grid-baseline * 5);
    height: calc($grid-baseline * 5);
    background-color: $gray-700;
    border-radius: $border-radius-sm;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: $space-xs;
}

.name {
    font-size: $font-size-lg;
    color: $gray-200;
    padding-bottom: $space-xxxs;
}

.description {
    font-size: $font-size-sm;
    color: $gray-400;
}

.cardRight {
    justify-self: flex-end;
    align-self: flex-end;
}