@use "sass:color";
@import "base/styles/colors";
@import "base/styles/grid";

.root {
    background-color: color.scale($gray-800, $lightness: -20%);
    width: calc($grid-baseline * 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $space-xxs;
    border-right: 1px solid color.scale($gray-800, $lightness: -0%);
}

.tab {
    width: calc($grid-baseline * 7 - $space-xxs * 2);
    height: calc($grid-baseline * 7 - $space-xxs * 2);
    margin-bottom: $space-xxs;
    background-color: color.scale($gray-800, $lightness: -5%);
    border-radius: $border-radius-sm;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &:active {
        background-color: color.scale($gray-800, $lightness: -25%);
    }
}
